name: Build and Test
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    paths:
      - '**'
      
jobs:  
  sdist:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build distribution
        run:  python3 setup.py sdist
  test:
    name: Run mock unit tests
    runs-on: ubuntu-latest
    container: quay.io/fenicsproject/stable:current
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2      
      - name: Install fake precice
        run:  |
          mkdir -p precice
          echo "from setuptools import setup" >> precice/setup.py
          echo "setup(name='pyprecice', version='3.0.0.0')" >> precice/setup.py
          python3 -m pip install ./precice/
      - name: Run unit tests
        run:  python3 setup.py test -s tests.unit
      - name: Run integration tests
        run:  python3 setup.py test -s tests.integration
