name: Run preCICE Tutorials
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    paths:
      - '**'

jobs:
  run_ht_simple:
    name: Run HT, simple (surface coupling with matching meshes)
    runs-on: ubuntu-latest
    container: precice/precice:develop
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install Dependencies & FEniCS
        run: |
          apt-get -qq update
          apt-get -qq install software-properties-common python3-dev python3-pip git apt-utils
          add-apt-repository -y ppa:fenics-packages/fenics
          apt-get -qq install --no-install-recommends fenics
          rm -rf /var/lib/apt/lists/*
      - name: Install adapter
        run:  pip3 install --user .
      - name: Fix broken FEniCS installation (see https://fenicsproject.discourse.group/t/installing-python-package-with-fenics-dependency-breaks-fenics-installation/4476)
        run: pip3 uninstall -y fenics-ufl
      - name: Get tutorials
        run: git clone -b develop https://github.com/precice/tutorials.git
      - name: Run tutorial
        run: |
          cd tutorials/partitioned-heat-conduction/fenics
          ./run.sh -d & ./run.sh -n

  run_ht_complex:
    name: Run HT, complex (surface coupling with nearest projection)
    runs-on: ubuntu-latest
    container: precice/precice:develop
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install Dependencies & FEniCS
        run: |
          apt-get -qq update
          apt-get -qq install software-properties-common python3-dev python3-pip git apt-utils
          add-apt-repository -y ppa:fenics-packages/fenics
          apt-get -qq install --no-install-recommends fenics
          rm -rf /var/lib/apt/lists/*
      - name: Install adapter
        run:  pip3 install --user .
      - name: Fix broken FEniCS installation (see https://fenicsproject.discourse.group/t/installing-python-package-with-fenics-dependency-breaks-fenics-installation/4476)
        run: pip3 uninstall -y fenics-ufl
      - name: Get tutorials
        run: git clone -b develop https://github.com/precice/tutorials.git
      - name: Run tutorial
        run: |
          cd tutorials/partitioned-heat-conduction-complex/fenics
          ./run.sh -d & ./run.sh -n

  run_channel_transport_reaction:
    name: Run channel-transport-reaction (volume coupling with linear cell interpolation)
    runs-on: ubuntu-latest
    container: precice/precice:develop
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install Dependencies & FEniCS
        run: |
          apt-get -qq update
          apt-get -qq install software-properties-common python3-dev python3-pip git apt-utils
          add-apt-repository -y ppa:fenics-packages/fenics
          apt-get -qq install --no-install-recommends fenics
          rm -rf /var/lib/apt/lists/*
      - name: Install adapter
        run:  pip3 install --user .
      - name: Fix broken FEniCS installation (see https://fenicsproject.discourse.group/t/installing-python-package-with-fenics-dependency-breaks-fenics-installation/4476)
        run: pip3 uninstall -y fenics-ufl
      - name: Get tutorials
        run: git clone -b develop https://github.com/precice/tutorials.git
      - name: Run tutorial
        run: |
          cd tutorials/channel-transport-reaction
          python3 fluid-fenics/fluid.py & python3 chemical-fenics/chemical-reaction-advection-diffusion.py